.SongPlayer{
    width:500px;
    margin: 0 auto;
    padding: 10px 10px 20px;
    background-color: darkslategray;
    color:lightgreen;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .SongPlayer h2{
      padding:10px;
    background-color: rgba(69, 223, 223, .3);
    border-radius: 10px;
    } 
       .SongPlayer h3{
         margin-top:0;
      padding:15px;
    background-color: rgba(69, 223, 223, .3);
    border-radius: 10px;

    }
    
    .SongPlayer img{
      margin: 10px auto 20px;
      border-radius: 5px;
      width: 300px;
      height: 300px;
    }
    
    .SongPlayer button{
      padding: 20px;
      margin:0 10px;
      border-radius: 10px;
      border-style: none;
      font-size: 18px;
      font-weight: bold;
      background-color: gold;
      cursor: pointer;
    }
    
    .SongPlayer .pauseButtonInActive{
      display: none;
    }
    .SongPlayer .playButtonInactive{
      display: none;
    }

    .SongPlayer .random{
      padding: 20px;
      margin:0 10px;
      border-radius: 10px;
      border-style: none;
      font-size: 18px;
      font-weight: bold;
      background-color: gold;
      cursor: pointer;
    }

    @media (orientation:portrait) and (min-width: 320px) {

      .SongPlayer{
        margin:0;
        width: 100vw;
        /* padding: 5px 5px 10px; */
        display: block;
        flex-direction: column;
        }
    
        .SongPlayer h2{
          padding:10px;
        } 
           .SongPlayer h3{
             margin-top:0;
          padding:10px;
        border-radius: 10px;
    
        }
        
        .SongPlayer img{
          /* margin: 5px ; */
          border-radius: 25px;
          width: 250px;
          height: 250px;
          margin: 0;
        }
        
        .SongPlayer button{
          padding: 15px;
          margin:0 10px;
          border-radius: 20px;
          font-size: 18px;
   
        }
        
        .SongPlayer .pauseButtonInActive{
          display: none;
        }
        .SongPlayer .playButtonInactive{
          display: none;
        }
    
        .SongPlayer .random{
          padding: 15px;
          margin:10px 10px;
          border-radius: 25px;
          font-size: 18px;
        }

    }
    